body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #ffe57ca1;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

a {
    color: #756653;
    text-decoration: none;
}

i.yellow.icon {
    color: #ffe57c!important;
}

.ui.segment {
    position: center;
    background: #82b885;
    box-shadow: black;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 2.285714rem;
    border: 1px solid rgb(255 229 124);
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    display: inline-table;
    width: 6.25%;
    padding-left: 4rem;
    padding-right: 1rem;
    vertical-align: top;
}