.ui.button, .ui.buttons .button {
    background-color: #f9f78d;
    color: #9acf9e;
    text-shadow: 0 0 black;
}


.ui.segment {
    position: center;
    background: #87ca90;
    box-shadow: none;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgb(230 246 144);
}