.ui.button, .ui.buttons .button {
    background-color: #ffeeac;
    color: #9acf9e;
    text-shadow: 0 0 black;
}


.ui.segment {
    position: center;
    background: #82b885;
    box-shadow: none;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgb(255 229 124);
}

.ui.grid {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}